h1 {
    margin: 0;
    display: inline;
}
.display-6 {
    font-weight: 400;
}

img {
    margin-left: 6px;
    margin-bottom: 6px;
}

.accordion-header button {
    padding: 8px 16px 0 16px;
    
}

.accordion-item {
    border: none;
}

button,
label {
    margin-top: 16px;
}

input {
    max-width: 300px;
}
